h1 {
  text-align: center;
}

.hidden {
  display: none;
}

#people {
  text-align: center;
}

#dice-table {
  text-align: center;
  margin: 0 auto;
  padding: 20px 20px;
  width: 300px;
  height: 250px;
  border: 1px solid peachpuff;
}

.pig-image {
  width: 50px;
  height: 50px;
}

#rollBtn {
  width: 50px;
  height: 30px;
  margin: 10px;
}

#diceImage {
  margin: 20px auto;
}

#table {
  display: table;
  width: 70%;
  border: 2px solid;
  margin: 20px auto;
  text-align: center;
  line-height: 15px;
}
.row {
  display: table-row;
}
.cell {
  display: table-cell;
  padding: 3px;
  border-bottom: 2px solid #ddd;
  border-right: 2px solid black;
}
.col1 {
  width: 1px;
}
.col2 {
  width: 1px;
}
.col3 {
  width: 1px;
}
.col4 {
  width: 1px;
}

#diceImage {
  width : 100px;
  padding : 20px;
}
